<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head> 

<body>
  
  <div class="wrapper d-flex align-items-stretch">
    <%- include('partials/sidebar'); %>
    
    <!-- Page Content  -->
      <div id="content" class="p-4 p-md-6">
        <%- include('partials/header'); %>

        <div id="content">
          <!-- Read File  -->
          <div>
          <button id="file-btn" class="btn btn-primary btn-sm" onclick="upload.click()" title="Open File">
          <span>choose file</span></button>
          <input type="file" name="upload" id="upload" onchange="readFile(this)" style="display: none;" >
          <!-- Speak Button  -->
          <button id="speakText-btn" class="btn btn-primary btn-sm" title="Speak Text"><span class="fa fa-volume-up"></span> </button>
          </div>
        <%- include('partials/quillEditor.ejs'); %>
        </div>
      </div>
  </div>

  <%- include('partials/footer'); %>
</body>
  
</html>
