<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head> 

<body>
  
  <div class="wrapper d-flex align-items-stretch">
    <%- include('partials/sidebar'); %>
    
    <!-- Page Content  -->
      <div id="content" class="p-4 p-md-6">
        <%- include('partials/header'); %>

        <div id="content">
        <!-- Read File  -->
        <input type="file" onchange="readFile(this)">
        <%- include('partials/quillEditor.ejs'); %>
        </div>
      </div>
  </div>

  <%- include('partials/footer'); %>
</body>
  
</html>
